<div class="col-lg-6 col-md-12">
  <div class="login-form">
      <h2>Cambia la password</h2>
      <form [formGroup]="cambiaFormGroup" (ngSubmit)="cambia()">
          <div class="form-group">
              <input formControlName="username" type="text" class="form-control" placeholder="Inserisci l'username" required>
          </div>
          <div class="form-group">
            <input formControlName="vecchiaPassword" type="text" class="form-control" placeholder="Inserisci la vecchia password" required>
          </div>  
          <div class="form-group">
            <input formControlName="nuovaPassword" type="text" class="form-control" placeholder="Inserisci la nuova password" required>
          </div>           
        <div class="form-group">
          <input formControlName="convalidaNuovaPassword" type="text" class="form-control" placeholder="Convalida la nuova password" required>
        </div>
          <button type="submit">Reset</button>
      </form>

  </div>
</div>
